body {
  margin: 0px;
  overflow: hidden;
}

text {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.tick text {
  fill: #635f5d;
}

.tick line {
  stroke: #c0c0bb;
}

.axis-label {
  fill: #635f5d;
}

.title {
  fill: #555;
  font-size: 1.7em;
}

.line-path {
  fill: none;
  stroke: steelblue;
  stroke-width: 4px;
  stroke-linejoin: round;
}
